/* src/components/navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #112533;
    color: white;
    position: fixed; /* Make the navbar fixed at the top */
    top: 0;
    z-index: 1000; /* Ensure it stays above other elements */
  }
  
  .navbarLogo {
    display: flex;
    align-items: center; /* Align the logo and text vertically centered */
  }
  
  .logo {
    height: 30px; /* Adjust the height as needed */
    margin-right: 11px;
    margin-bottom: 5px;
  }
  
  .logoText {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  