/* Main page container */
.loginPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0b0e1c;
  animation: fadeIn 1s ease-in-out;
  background-image: linear-gradient(to left, #1e1f23, #0b0e1c);
}

/* Main container for welcome and login sections */
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 50px;
}

/* Welcome section */
.welcomeSection {
  flex: 1;
  padding: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  margin-right: 50px;
  animation: slideInLeft 1s ease-out;
}

.welcomeSection h1 {
  font-size: 63px;
  margin-bottom: 9px;
  margin-left: 163px;
}

.welcomeSection p {
  font-size: 1.2rem;
  margin-bottom: -1px;
  margin-left: 112px;
  text-align: center;
}

.brandName {
  color: #007bff;
  font-weight: bold;
}

/* Login container */
.loginContainer {
  flex: 1;
  padding: 50px;
  border-radius: 20px;
  background-color: #112533;
  text-align: center;
  animation: slideInRight 1s ease-out;
}

/* Form styles */
.formGroup {
  margin-bottom: 9px;
}

.formGroupCheckbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.formGroupCheckbox label {
  margin-left: 5px;
  color: white;
}

.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 1px;
  color: rgb(255, 255, 255);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
  background-color: #1e1f23;
  color: white;
}

/* Button styles */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Error message style */
.errorMessage {
  color: red;
  margin-top: 10px;
}

/* Social login section */
.socialLogin {
  margin-top: 10px;
  text-align: center;
  margin-left: 180px;
  margin-right: 180px;
}

.socialLogin p {
  margin: 10px 0;
}

/* Social button styles */
.socialButton {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease;
}

.facebookButton {
  background-color: #1877f2;
  color: white;
}

.googleButton {
  background-color: #db4437;
  color: white;
}

.appleButton {
  background-color: black;
  color: white;
}

.socialButton:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

/* Register text style */
.registerText {
  margin-top: 25px;
  color: white;
}
